<div class="container">
    <h1 class="text-center py-3", style="font-size: 100px;">About</h1>

    <div class="text-center", style="font-size: 25px;">
    PaPa_Previewは、<br/>
    パパにプレゼントを贈りたい人が、悩んでいる商品を調べたり、<br/>
    おすすめのプレゼントを紹介し合えるレビューサイトです。<br/>
    子どものためにいいものを買ってあげたいパパ。<br/>
    家族や友人の出産祝いにおすすめの商品を探したい方。<br/>
    「一緒に子育て頑張ろう！」という気持ちをプレゼントにしたいママ。<br/>
    プレゼント選びの参考にしてください。<br/>
    そして、実際にプレゼントしたことのある方。<br/>
    ぜひあなたの経験談を教えてください。</P>
    </div>
  <div class="row my-3 justify-content-center">
    <%= image_tag "img2.jpg", size: "800x400",style: "opacity: 0.8",class: "justify-content-center main_image" %>
  </div>
</div>
