<div class="container">
  <div class="row py-5 mx-5 justify-content-center position-relative">
    <%= image_tag "main_image.jpg", size: "1100x650", style: "opacity: 0.7", class: "mx-auto img-fluid shadow-sm" %>
    <div class="text-overlay">
      <h3>
        子育てパパの喜ぶ<br>
        プレゼントがわかる！
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-3 mb-4">
      <h3>みんなの投稿<h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-3">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.get_image(250, 150), class: 'img-fluid' %><br/>
              <%= post.title %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


