<div class="container">
  <div class="row py-5 mx-5 justify-content-center position-relative">
    <%= image_tag "main_image.jpg", size: "1100x650", style: "opacity: 0.7", class: "mx-auto img-fluid shadow-sm main_image" %>
    <div class="text-overlay">
      <h3>
        子育てパパの喜ぶ<br>
        プレゼントがわかる！
      </h3>
    </div>
  </div>
</div>