<%= form_with model: tag, method: :post, url: admin_tags_path, local: false, html: {class: 'p-5 shadow-lg'} do |f| %>
  <div class="form-group">
    <%= f.label :name, 'タグ名', class: 'col-md-2' %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'off', class: 'col-md-6', id: "name_text_field" %>
    <%= f.submit '追加', class: 'btn btn-sm btn-outline-info col-md-2 offset-1' %>
  </div>
<% end %>