<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(post), method: :delete, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-solid fa-heart" style="color: #e54747;"></i>
      <%= post.favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorite_path(post), method: :post, remote: true, data: {"turbolinks" => false} do %>
      <i class="fa-solid fa-heart" style="color: #007bff;"></i>
      <%= post.favorites.count %>
    <% end %>
  </p>
<% end %>