<%= form_with model: [post, post_comment], remote: true do |f| %>
  <p><%=f.text_area :body, rows: '4', placeholder: "ここにコメントしてください", style: "width: 100%;" %></p>
  <p class="d-flex justify-content-end"><%= f.submit "送信", class:"btn btn-success px-4" %></p>
<% end %>