@use '~bootstrap/scss/bootstrap';

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.small-text {
  font-size: 0.75em;
}

.yellow-bg {
  background-color: #fff9c4;
  border-radius: 5px; /* 角を少し丸める */
}

.card-body .card-title,
.card-body p {
  margin-bottom: 0.5rem;
}

.text-overlay {
  position: absolute;
  top: 100px;
  left: -60px;
  display: flex;
}

.text-overlay h3 {
  font-family: '秀英にじみ丸ゴシック B', 'A P-OTF 秀英にじみ丸ゴ Std', sans-serif;
  font-size: 3.4rem;
}