@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6, p {
    font-family: '秀英にじみ丸ゴシック B', 'A P-OTF 秀英にじみ丸ゴ Std', sans-serif;
}


.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.small-text {
  font-size: 0.75em;
}

.yellow-bg {
  background-color: #fff9c4;
  border-radius: 5px;
}

.card-body .card-title,
.card-body p {
  margin-bottom: 0.5rem;
}

/* ------------------main--------------------- */
.main_image {
  border-radius: 20rem;
}


.text-overlay {
  position: absolute;
  top: 100px;
  left: -60px;
  display: flex;
}

.text-overlay h3 {
  font-size: 3.4rem;
}

/* ------------------main--------------------- */
/* ------------------posts_show--------------------- */

.min-three-lines-height {
  min-height: calc(1.5em * 3); /* 3行分の最低高さ */
  line-height: 1.5em; /* 行の高さ */
}

.comment-body {
  min-height: 3em; /* 2行分の高さ */
  width: 90%; /* 横幅いっぱいに広げる */
  overflow-y: auto; /* コンテンツが2行を超える場合にスクロール */
  margin: 0; /* <p>タグのデフォルトの余白をなくす */
}

/* ------------------posts_show--------------------- */

  .tag-checkbox {
    cursor: pointer;
    padding: 0.2em 0.5em 0;
    margin-bottom:  0.5em;
    line-height: 1;
    color: #fff;
    background-color: #7cccc2;
    border: 1px solid #7cccc2;
    border-radius: 2em;
  }

  .select-tag {
    cursor: pointer;
    padding: 0 0.5em;
    line-height: 1;
    color: #fff;
    background-color: #7cccc2;
    border: 1px solid #7cccc2;
    border-radius: 2em;
  }

@media (max-width: 768px) {
  .text-overlay {
    top: 70px;
    left: -30px;
  }

  .text-overlay h3 {
    font-size: 2.5rem;
  }
}

/* Media query for smaller smartphones */
@media (max-width: 576px) {
  .text-overlay {
    top: 50px;
    left: -20px;
  }

  .text-overlay h3 {
    font-size: 2rem;
    text-align: center; /* Center align the text if needed */
  }
}