<h3>マイページ</h3>
<h4>登録情報<%= link_to '編集する', '#' %></h4>

<table>
  <thead>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @user.last_name %><%= @user.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
    </tr>
  </tbody>
</table>